*{
	margin: 0px;
	padding: 0px;
}
.container {
	
	justify-content: center;
}

.login-header {
	display: flex;
	margin-top: 100px;
	flex-direction: column;
	
}
.test {
	margin-top: 100px;
	font-weight: bolder;
	text-align: center;
}
